# =========================
# GOOGLE SHEETS
# =========================

GOOGLE_CREDENTIALS=
SPREADSHEET_ID=
SHEET_NAME=Página1

# =========================
# REGRAS DO ROBÔ
# =========================

USER_NAME=seu_nome_aqui

# =========================
# API / NOTIFIER
# =========================

API_URL=https://sua-api.com/topic
API_TOKEN=

# =========================
# CONFIGURAÇÕES OPCIONAIS
# =========================

# Ambiente da aplicação (local, prod)
APP_ENV=local

# Log level (info, debug, error)
LOG_LEVEL=info