# Para mais informações, veja /docs/howto.md

# =========================
# GOOGLE SHEETS
# =========================

GOOGLE_APPLICATION_CREDENTIALS="./credentials.json"

# Json disponibilizado pelo Google Cloud
GOOGLE_CREDENTIALS=

# entre d/ e o /edit, ex: https://docs.google.com/spreadsheets/d/O_QUE_ESTIVER_AQUI/edit?gid=0#gid=0
SPREADSHEET_ID=

# Nome da aba aonde ele deve procurar
SHEET_NAME=Página1

# =========================
# REGRAS DO ROBÔ
# =========================

# Nome que ele deve procurar na planilha
USER_NAME=seu_nome_aqui

# =========================
# API / NOTIFIER
# =========================

API_URL=https://sua-api.com/topic
API_TOKEN=

# =========================
# CONFIGURAÇÕES OPCIONAIS
# =========================

# Ambiente da aplicação (local, prod)
APP_ENV=local

# Log level (info, debug, error)
LOG_LEVEL=info